<!DOCTYPE html>
<html>

  <head>
    <title><%=title%></title>
    <link rel="stylesheet" href="/stylesheets/take-main-style.css"/>
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="http://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
    <script type="text/javascript" src="/javascripts/take-util.js"></script>
    <script type="text/javascript" src="/javascripts/take-login.js"></script>
    <script type="text/javascript" src="/javascripts/take-search-box.js"></script>
    <script type="text/javascript" src="/javascripts/take-list-slider.js"></script>
    <script type="text/javascript">
      (function(){
        $(document).ready(function(){
          var searchBoxOptions = {
            boxWidth: 800,
            boxHeight: 50,
            borderStyle: "10px solid rgba(255, 255, 255, 0.4)",
            marginStyle: "0 auto"
          }
          SearchBoxController.setSearchBox(searchBoxOptions);

          ListSlider($("#today-studio-box"), "/todaystudiolist").init();
        });
      }());
    </script>
  </head>

  <body>

    <div id="header" class="width-full bg-color-darkgrey font-white">

      <div id="header-title" class="float-left"><a href="/"><%= service %></a></div>
      <div id="header-login" class="float-right">
        <% if(!isAuth){ %>
        <span id="login-button" class="cursor-pointer">로그인</span>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="/join">회원가입</a>
        <% }else{ %>
        <%= name %> 님&nbsp;&nbsp;|&nbsp;&nbsp;<span id="logout-button" class="cursor-pointer">로그아웃</span>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="/withdraw">탈퇴</a>
        <% } %>
      </div>
      <div class="float-clear"></div>

    </div>

    <div class="take-main-window">

      <div id="search-window" class="width-full bg-color-lightergrey">

        <div class="font-white font-bold font-level-larger center-aligned">
          일생의 순간, 나만의 사진작가를 만나보세요.
        </div>

        <div id="search-box"></div>

      </div>

      <div class="take-basic-window">

        <div class="center-aligned">
          <h1>오늘의&nbsp;&nbsp;<span class="font-bold font-space-wide">Studio</span></h1>
          <span class="font-grey"><%= service %>의 멋진 사진작가들을 만나보세요.</span>
        </div>

        <div id="today-studio-box">
        </div>

      </div>


    </div>

    <div id="footer" class="bg-color-darkgrey center-aligned">

      <div id="footer-main">
      </div>

      <div id="footer-menu" class="font-grey font-level-small">
        이용약관&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        개인정보취급방침&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        서비스운영정책&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        고객센터
      </div>

      <hr class="bg-color-grey">

      <div class="font-grey">
        &copy; <a href="/" class="font-grey"><%= service %></a>, Inc.
      </div>

    </div>

  </body>

</html>
