<!DOCTYPE html>
<html>

  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/take-main-style.css"/>
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="http://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
    <script src="//developers.kakao.com/sdk/js/kakao.min.js"></script>
    <script type="text/javascript" src="/javascripts/take.util.js"></script>
    <script type="text/javascript" src="/javascripts/take.login.js"></script>
    <script type="text/javascript">
      (function(){
        $(document).ready(function(){
          ButtonController.setButton($(".rsv-details-button"));
        });
      }());
    </script>
  </head>

  <body>

    <% include ../header %>

      <nav class="take-navigation bg-color-darkgrey font-lightgrey">
        <ul>
          <li class="nav-item">
            <a href="/user/userinfo">
              <img src="/images/user/userinfo.png"></img><span>회원정보 관리</span>
            </a>
          </li>
          <li class="nav-item">
            <a href="/user/cart">
              <img src="/images/user/cart.png"></img><span class="selected">나의 예약</span>
            </a>
          </li>
          <li class="nav-item">
            <a href="/user/likeslist">
              <img src="/images/user/likes.png"></img><span>찜 리스트</span>
            </a>
          </li>
          <li class="nav-item">
            <a href="/user/userinfo">
              <img src="/images/user/gallery.png"></img><span>갤러리</span>
            </a>
          </li>
      </ul>
      </nav>


    <div class="take-main-window bg-color-lightergrey">

      <div class="take-basic-window2">
        <h1>나의 예약</h1>
        <div class="take-board-window">
          <% for(var i = 0; i < reservationsData.length; i++){ %>
            <div class="board-row font-grey">
              <div class="board-col name">
                <span class="font-darkgrey font-level-large">
                  <%= reservationsData[i].product_name %>
                </span>
                <br>
                <a href="/studio/<%= reservationsData[i].username %>">
                  <span class="font-grey font-level-default">
                    <%= reservationsData[i].studio_name %>
                  </span>
                </a>
              </div>
              <div class=" board-col date">
                <span class="font-darkgrey font-bold">
                  <% var date = reservationsData[i].rsv_date.toString() %>
                  <% var year = date.slice(0, 4) %>
                  <% var month = date.slice(4, 6) %>
                  <% if(month[0] == "0"){ %>
                    <% month = month.slice(1, 2) %>
                  <% } %>
                  <% var dateNum = date.slice(6, 8) %>
                  <% if(dateNum[0] == "0"){ %>
                    <% dateNum = dateNum.slice(1, 2) %>
                  <% } %>
                  <% var time = reservationsData[i].rsv_start_time %>
                  <% var time_prefix = "오전" %>
                  <% if(time >= 1300){ %>
                    <% time_prefix = "오후" %>
                    <% time = time - 1200 %>
                  <% } %>
                  <% time = time.toString() %>
                  <% var hour %>
                  <% if(time.length == 3){ %>
                    <% hour = time.slice(0, 1) %>
                  <% }else{ %>
                    <% hour = time.slice(0, 2) %>
                  <% } %>
                  <% var minute = time.slice(-2) %>
                  <%= year %>년 <%= month %>월 <%= dateNum %>일&nbsp;
                </span>
                <br>
                <span class="font-darkgrey">
                  <%= time_prefix %>&nbsp;<%= hour %>:<%= minute %>
                </span>
              </div>
              <div class="board-col status">
                <button type="button" class="take-button-greyborder">
                  <% var statusStrings = ["예약요청중", "예약확인중", "예약확정", "결제완료", "촬영완료", "상품전달중", "상품확인"]; %>
                  <% var status = statusStrings[reservationsData[i].rsv_status - 1] %>
                  <span><%= status %></span>
                </button>
              </div>
              <div class="board-col button">
                <a href="/reservedetails?rsv_id=<%= reservationsData[i].rsv_id %>">
                  <button type="button" class="rsv-details-button take-button-mint">
                    <img src="/images/user/details.png"></img><span>&nbsp;&nbsp;진행상황</span>
                  </button>
                </a>
              </div>
              <div class="float-clear"></div>
            </div>
          <% } %>
        </div>

      </div>

    </div>

    <% include ../footer %>

    <% include ../login/login-popup %>

  </body>

</html>
