<!DOCTYPE html>
<html>

  <head>
    <title><%=title%></title>
    <link rel="stylesheet" href="/stylesheets/take-main-style.css"/>
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="http://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
    <script src="//developers.kakao.com/sdk/js/kakao.min.js"></script>
    <script type="text/javascript" src="/javascripts/take-util.js"></script>
    <script type="text/javascript" src="/javascripts/take-login.js"></script>
    <script type="text/javascript">
      (function(){
        $(document).ready(function(){
          ButtonController.setButton($(".product-reserve-button"));
        });
      }());
    </script>
  </head>

  <body>

    <div id="header" class="width-full font-white">

      <div id="header-title" class="float-left"><a href="/"><%= service %></a></div>
      <div id="header-login" class="float-right">
        <%
        if(!hasStudio){
        %>
        <a href="/makestudio">
          <span>스튜디오 만들기</span>
        </a>
        <%
        }
        else{
        %>
        <a href="/studio/<%= username %>">
          <span>스튜디오 바로가기</span>
        </a>
        <%
        }
        if(!isAuth){
        %>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <span id="login-button" class="cursor-pointer">
          <img class="vertical-middle-aligned" src="/images/common/login.png"></img>&nbsp;&nbsp;로그인
        </span>
        <%
        }else{
        %>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <span id="user-button" class="cursor-pointer">
          <img class="vertical-middle-aligned" src="/images/common/username.png"></img>&nbsp;&nbsp;<%= nickname %>
        </span>
        <%
        }
        %>
      </div>
      <div class="float-clear"></div>

      <%
      if(isAuth){
      %>
      <div class="user-menu-box font-darkgrey">
        <div class="user-menu-arrow"></div>
        <div class="user-menu">
          <a href="/user/userinfo"><div class="user-menu-item">&nbsp;&nbsp;회원정보 관리</div></a>
          <a href="/user/likeslist"><div class="user-menu-item">&nbsp;&nbsp;찜 리스트</div></a>
          <hr>
          <div id="logout-button" class="user-menu-item">&nbsp;&nbsp;로그아웃</div>
        </div>
      </div>
      <%
      }
      %>

    </div>

      <nav class="take-navigation bg-color-darkgrey font-lightgrey">
        <ul>
          <li class="nav-item">
            <a href="/user/userinfo">
              <img src="/images/user/userinfo.png"></img><span>회원정보 관리</span>
            </a>
          </li>
          <li class="nav-item">
            <a href="/user/userinfo">
              <img src="/images/user/cart.png"></img><span>예약정보</span>
            </a>
          </li>
          <li class="nav-item">
            <a href="/user/likeslist">
              <img src="/images/user/likes.png"></img><span class="selected">찜 리스트</span>
            </a>
          </li>
          <li class="nav-item">
            <a href="/user/userinfo">
              <img src="/images/user/gallery.png"></img><span>갤러리</span>
            </a>
          </li>
      </ul>
      </nav>


    <div class="take-main-window bg-color-lightergrey">

      <div class="take-basic-window2">
        <h1>찜한 스튜디오들</h1>
        <br><br>
        <div class="take-likes-box">
          <div class="box">
            <%
            for(var i = 0; i < likeStudiosData.length; i++){
            %>
            <a href="/studio/<%= likeStudiosData[i].username %>">
              <div class="likes-studio font-grey">
                <div class="image bg-color-lightgrey" style="background-image: url('<%= likeStudiosData[i].slider_photo_list %>')">
                </div>
                <div class="desc bg-color-white">
                  <span class="font-darkgrey font-level-large"><%= likeStudiosData[i].studio_name %></span>
                  <br>
                  <span class="font-grey">by <%= likeStudiosData[i].nickname %></span>
                </div>
              </div>
            </a>
            <%
            }
            %>
            <div class="float-clear"></div>
          </div>
        </div>

        <h1>찜한 상품들</h1>
        <br><br>
        <div class="take-likes-box">
          <%
          for(var i = 0; i < likeProductsData.length; i++){
          %>
          <div class="likes-product font-grey">
            <div class="likes-col name">
              <span class="font-darkgrey font-level-large">
                <%= likeProductsData[i].product_name %>
              </span>
              <br>
              <a href="/studio/<%= likeProductsData[i].username %>">
                <span class="font-grey font-level-default">
                  <%= likeProductsData[i].studio_name %>
                </span>
              </a>
            </div>
            <div class="likes-col price font-grey font-level-default">
              \<%= likeProductsData[i].product_price.toString().split(/(?=(?:\d{3})+(?:\.|$))/g).join(',') %>
            </div>
            <div class="likes-col desc">
              <%- likeProductsData[i].product_desc %>
            </div>
            <div class="likes-col button">
              <button type="button" class="product-reserve-button take-button-mint">
                <img src="/images/studio/reserve.png"></img><span>&nbsp;&nbsp;예약하기</span>
              </button>
            </div>
            <div class="float-clear"></div>
          </div>
          <%
          }
          %>
        </div>
      </div>

    </div>

    <div id="footer" class="bg-color-darkgrey center-aligned">

      <div id="footer-main">
      </div>

      <div id="footer-menu" class="font-grey font-level-small">
        이용약관&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        개인정보취급방침&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        서비스운영정책&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        고객센터
      </div>

      <hr class="bg-color-grey">

      <div class="font-grey">
        &copy; <a href="/" class="font-grey"><%= service %></a>, Inc.
      </div>

    </div>

  </body>

</html>
