<!DOCTYPE html>
<html>

  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/take-main-style.css"/>
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="http://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
    <script src="//developers.kakao.com/sdk/js/kakao.min.js"></script>
    <script type="text/javascript" src="/javascripts/take.util.js"></script>
    <script type="text/javascript" src="/javascripts/take.login.js"></script>
    <script type="text/javascript" src="/javascripts/take.rsv.js"></script>
    <script type="text/javascript">
      (function(){
        $(document).ready(function(){
          RsvController.setStatus(<%= mode %>, "<%= username %>", <%= reservationData.rsv_id %>, <%= reservationData.rsv_status %>);
        });
      }());
    </script>
  </head>

  <body>

    <% include ../header %>

      <nav class="take-navigation bg-color-darkgrey font-lightgrey">
        <ul>
          <li class="nav-item">
            <a href="/user/userinfo">
              <img src="/images/user/userinfo.png"></img><span>회원정보 관리</span>
            </a>
          </li>
          <li class="nav-item">
            <a href="/user/cart">
              <img src="/images/user/cart.png"></img><span class="selected">나의 예약</span>
            </a>
          </li>
          <li class="nav-item">
            <a href="/user/likeslist">
              <img src="/images/user/likes.png"></img><span>찜 리스트</span>
            </a>
          </li>
          <li class="nav-item">
            <a href="/user/userinfo">
              <img src="/images/user/gallery.png"></img><span>갤러리</span>
            </a>
          </li>
      </ul>
      </nav>


    <div class="take-main-window bg-color-lightergrey">

      <div class="take-basic-window2">
        <h1>예약 타임라인</h1>
        <span class="font-grey">예약 진행 상황을 확인하세요.</span>
        <hr class="bg-color-lightgrey">

        <div class="rsv-status-box">
          <div class="rsv-status font-white bg-color-lightgrey" for="1">예약요청중</div>
          <div class="rsv-status-arrow font-grey font-level-larger">></div>
          <div class="rsv-status font-white bg-color-lightgrey" for="2">예약확인중</div>
          <div class="rsv-status-arrow font-grey font-level-larger">></div>
          <div class="rsv-status font-white bg-color-lightgrey" for="3">예약확정</div>
          <div class="rsv-status-arrow font-grey font-level-larger">></div>
          <div class="rsv-status font-white bg-color-lightgrey" for="4">결제완료</div>
          <div class="rsv-status-arrow font-grey font-level-larger">></div>
          <div class="rsv-status font-white bg-color-lightgrey" for="5">촬영완료</div>
          <div class="rsv-status-arrow font-grey font-level-larger">></div>
          <div class="rsv-status font-white bg-color-lightgrey" for="6">상품전달중</div>
          <div class="rsv-status-arrow font-grey font-level-larger">></div>
          <div class="rsv-status font-white bg-color-lightgrey" for="7">상품확인</div>
          <div class="float-clear"></div>

          <div class="rsv-status-desc font-grey font-level-small">
            스튜디오에<br>촬영 예약을<br>요청하였습니다.
          </div>
          <div class="rsv-status-arrow font-grey font-level-larger"></div>
          <div class="rsv-status-desc font-grey font-level-small">
            스튜디오와<br>예약 내용을<br>확인중입니다.
          </div>
          <div class="rsv-status-arrow font-grey font-level-larger"></div>
          <div class="rsv-status-desc font-grey font-level-small">
            촬영 일정이<br>확정되었습니다.
          </div>
          <div class="rsv-status-arrow font-grey font-level-larger"></div>
          <div class="rsv-status-desc font-grey font-level-small">
            예약/결제/확인이<br>완료되었습니다.
          </div>
          <div class="rsv-status-arrow font-grey font-level-larger"></div>
          <div class="rsv-status-desc font-grey font-level-small">
            예약된 일정에<br>촬영이<br>완료되었습니다.
          </div>
          <div class="rsv-status-arrow font-grey font-level-larger"></div>
          <div class="rsv-status-desc font-grey font-level-small">
            촬영 결과물이<br>전달중입니다.
          </div>
          <div class="rsv-status-arrow font-grey font-level-larger"></div>
          <div class="rsv-status-desc font-grey font-level-small">
            결과물이<br>확인되었습니다.
          </div>
          <div class="float-clear"></div>
        </div>

        <hr class="bg-color-lightgrey">

        <div class="rsv-timeline-box">

          <div class="rsv-timeline-item">

            <div class="datetime">
            </div>

            <div class="timeline">
              <div class="line bg-color-grey"></div>
              <div class="dot bg-color-mint"></div>
              <div class="arrow-white"></div>
            </div>

            <div class="contents">
                <div class="sub-line">
                  <div class="chat-box">
                    <form class="msg-form">
                      <textarea class="rsv-textarea" placeholder="메시지를 남기세요." name="msg_desc"></textarea>
                    </form>
                    <button type="button" class="message-button take-button-mint">
                      <img src="/images/user/chat.png"></img><span>&nbsp;&nbsp;보내기</span>
                    </button>
                  </div>
                </div>
            </div>

            <div class="float-clear"></div>

          </div>

          <% for(var i = 0; i < reservationEventsData.length; i++){ %>
            <div class="rsv-timeline-item">

              <div class="datetime">
                <span class="font-darkgrey font-bold"><%= reservationEventsData[i].nickname %></span><br>
                <span class="font-grey font-level-small"><%= reservationEventsData[i].event_date %></span>
              </div>

              <div class="timeline">
                <div class="line bg-color-grey"></div>
                <div class="dot bg-color-mint"></div>
                <% if(reservationEventsData[i].event_type == 0){ %>
                  <div class="arrow-darkgrey"></div>
                <% }else{ %>
                  <div class="arrow-white"></div>
                <% } %>
              </div>

              <div class="contents">
                <% if(reservationEventsData[i].event_type == 0){ %>
                  <div class="main-line bg-color-darkgrey">
                    <span class="font-white"><%= reservationEventsData[i].rsv_status_string %></span>
                  </div>
                <% }else{ %>
                  <div class="chat-line">
                    <span class="font-darkgrey">"<%- reservationEventsData[i].event_desc %>"</span>
                  </div>
                <% } %>
              </div>

              <div class="float-clear"></div>

            </div>
          <% } %>

          <div class="rsv-timeline-item">

            <div class="datetime">
              <span class="font-darkgrey font-bold"><%= reservationData.user_nickname %></span><br>
              <span class="font-grey font-level-small"><%= reservationData.request_date %></span>
            </div>

            <div class="timeline">
              <div class="line bg-color-grey"></div>
              <div class="dot bg-color-mint"></div>
              <div class="arrow-darkgrey"></div>
            </div>

            <div class="contents">
              <div class="main-line bg-color-darkgrey">
                <span class="font-white">예약요청중</span>
                <% if(reservationData.username == username && ( reservationData.rsv_status == 1 || reservationData.rsv_status == 2 )){ %>
                  <button type="button" class="rsv-confirm-button rsv-button take-button-mint">
                    <img src="/images/studio/check.png"></img><span>&nbsp;&nbsp;예약확정</span>
                  </button>
                <% } %>
              </div>

              <div class="sub-line">
                <table>
                  <tr>
                    <td class="label">
                      예약자
                    </td>
                    <td class="desc">
                      <span class="font-darkgrey font-bold">
                        <%= reservationData.user_nickname %>
                      </span>
                    </td>
                  </tr>
                  <tr>
                    <td class="label">
                      예약 일정
                    </td>
                    <td class="desc">
                      <span class="font-darkgrey font-bold">
                        <% var date = reservationData.rsv_date.toString() %>
                        <% var year = date.slice(0, 4) %>
                        <% var month = date.slice(4, 6) %>
                        <% if(month[0] == "0"){ %>
                          <% month = month.slice(1, 2) %>
                        <% } %>
                        <% var dateNum = date.slice(6, 8) %>
                        <% if(dateNum[0] == "0"){ %>
                          <% dateNum = dateNum.slice(1, 2) %>
                        <% } %>
                        <% var time = reservationData.rsv_start_time %>
                        <% var time_prefix = "오전" %>
                        <% if(time >= 1300){ %>
                          <% time_prefix = "오후" %>
                          <% time = time - 1200 %>
                        <% } %>
                        <% time = time.toString() %>
                        <% var hour %>
                        <% if(time.length == 3){ %>
                          <% hour = time.slice(0, 1) %>
                        <% }else{ %>
                          <% hour = time.slice(0, 2) %>
                        <% } %>
                        <% var minute = time.slice(-2) %>
                        <%= year %>년 <%= month %>월 <%= dateNum %>일&nbsp;
                      </span>
                      <span class="font-darkgrey">
                        <%= time_prefix %>&nbsp;<%= hour %>:<%= minute %>
                      </span>
                    </td>
                  </tr>
                  <tr>
                    <td class="label">
                      스튜디오
                    </td>
                    <td class="desc">
                      <span class="font-darkgrey">
                        <%= reservationData.studio_name %>&nbsp;&nbsp;
                      </span>
                      <a href="/studio/<%= reservationData.username %>">
                        <span class="font-white font-level-small bg-color-grey">&nbsp;바로가기&nbsp;</span>
                      </a>
                    </td>
                  </tr>
                  <tr>
                    <td class="label">
                      상품명
                    </td>
                    <td class="desc">
                      <span class="font-darkgrey font-bold">
                        <%= reservationData.product_name %>
                      </span>
                    </td>
                  </tr>
                  <% if(reservationData.rsv_desc){ %>
                    <tr>
                      <td class="label">
                        상품 내용
                      </td>
                      <td class="desc">
                        <ul class="font-darkgrey">
                          <%- reservationData.product_desc %>
                        </ul>
                      </td>
                    </tr>
                    <tr>
                      <td class="label last-line">
                        추가 사항
                      </td>
                      <td class="desc last-line">
                        <span class="font-darkgrey">
                          <%- reservationData.rsv_desc %>
                        </span>
                      </td>
                    </tr>
                  <% }else{ %>
                    <tr>
                      <td class="label last-line">
                        상품 내용
                      </td>
                      <td class="desc last-line">
                        <ul class="font-darkgrey">
                          <%- reservationData.product_desc %>
                        </ul>
                      </td>
                    </tr>
                  <% } %>
                </table>
              </div>
            </div>

            <div class="float-clear"></div>

          </div>

        </div>

        <div class="editor-button-box center-aligned">
          <button type="button" class="back-button take-button-mint">
            <img src="/images/common/list.png"></img><span>&nbsp;&nbsp;목록으로</span>
          </button>
          <button type="button" class="rsv-cancel-button take-button-red">
            <img src="/images/common/cancel.png"></img><span>&nbsp;&nbsp;예약취소</span>
          </button>
        </div>

      </div>

    </div>

    <% include ../footer %>

    <% include ../login/login-popup %>

  </body>

</html>
