<!DOCTYPE html>
<html>

  <head>
    <title><%=title%></title>
    <link rel="stylesheet" href="/stylesheets/take-main-style.css"/>
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="http://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
    <script src="//developers.kakao.com/sdk/js/kakao.min.js"></script>
    <script type="text/javascript" src="/javascripts/take-util.js"></script>
    <script type="text/javascript" src="/javascripts/take-login.js"></script>
    <script type="text/javascript">
      (function(){
        $(document).ready(function(){
          var $inputs = $(".take-shortinput-box input[type='text']");

          InputController.setInputFocus($("input[type='text']").remove($("input:disabled")));
          ButtonController.setButton($(".editor-submit-button"));
          CheckboxController.setCheckbox($("input[type='checkbox']"));

          $(".editor-submit-button").click(function(){
            var isFieldChecked = 1;

            $inputs.each(function(){
              if($(this).val() == ""){
                $(this).addClass("bg-color-pink");
                isFieldChecked = 0;
              }
            });

            if(isFieldChecked == 1){
              $.ajax({
                type: "POST",
                url: "/user/userinfo/update",
                data: $("#userinfo-form").serialize(),
                success: function(data){
                  if(data.result == "success"){
                    location.reload();
                  }
                  else if(data.result == "fail"){
                    $("#userinfo-error").text(data.text).addClass("margin-top-30 margin-bottom-30 font-red font-bold");
                  }
                },
                error: function(xhr, option, error){
                  alert(error);
                }
              });
            }
          });
        });
      }());
    </script>
  </head>

  <body>

    <% include ../header %>

      <nav class="take-navigation bg-color-darkgrey font-lightgrey">
        <ul>
          <li class="nav-item">
            <a href="/user/userinfo">
              <img src="/images/user/userinfo.png"></img><span class="selected">회원정보 관리</span>
            </a>
          </li>
          <li class="nav-item">
            <a href="/user/likeslist">
              <img src="/images/user/cart.png"></img><span>예약정보</span>
            </a>
          </li>
          <li class="nav-item">
            <a href="/user/likeslist">
              <img src="/images/user/likes.png"></img><span>찜 리스트</span>
            </a>
          </li>
          <li class="nav-item">
            <a href="/user/userinfo">
              <img src="/images/user/gallery.png"></img><span>갤러리</span>
            </a>
          </li>
      </ul>
      </nav>


    <div class="take-main-window bg-color-lightergrey">

      <div class="take-basic-window2">
        <span class="font-grey"><span class="font-darkgrey font-bold">"<%= nickname %>"</span> 님의 회원정보입니다.</span>
        <hr class="bg-color-lightgrey">
        <form id="userinfo-form">
          <div class="take-shortinput-box">
            <input type="hidden" name="username" value="<%= username %>"></input>
            <div class="editor-input-label font-grey float-left">&nbsp;아이디&nbsp;&nbsp;|</div>
            <%
            if(userInfo.user_from == 0){
            %>
            <a href="/withdraw">
              <div class="font-level-small font-grey margin-top-20 float-right">
                <img class="vertical-smallmiddle-aligned" src="/images/user/withdraw.png"></img> 회원탈퇴
              </div>
            </a>
            <a href="/user/password">
              <div class="font-level-small font-grey margin-top-20 float-right">
                <img class="vertical-smallmiddle-aligned" src="/images/user/password.png"></img> 비밀번호변경&nbsp;&nbsp;
              </div>
            </a>
            <div class="float-clear"></div>
            <input disabled="disabled" type="text" class="take-text-shortinput font-darkgrey font-level-default border-solid-thin-lightgrey" value="<%= username %>"></input>
            <%
            }
            else if(userInfo.user_from == 1){
            %>
            <a href="/withdraw">
              <div class="font-level-small font-grey float-right margin-top-20">
                <img class="vertical-smallmiddle-aligned" src="/images/user/withdraw.png"></img> 회원탈퇴
              </div>
            </a>
            <div class="float-clear"></div>
            <input disabled="disabled" type="text" class="take-text-shortinput font-darkgrey font-level-default border-solid-thin-lightgrey" value="카카오 아이디로 가입하셨습니다."></input>
            <%
            }
            %>
            <div class="editor-input-label font-grey">&nbsp;닉네임&nbsp;&nbsp;|</div>
            <input type="text" class="take-text-shortinput font-darkgrey font-level-default border-solid-thin-lightgrey" name="nickname" value="<%= nickname %>"></input>
            <div class="editor-input-label font-grey">&nbsp;가입일자&nbsp;&nbsp;|</div>
            <input disabled="disabled" type="text" class="take-text-shortinput font-darkgrey font-level-default border-solid-thin-lightgrey" name="join_date" value="<%= userInfo.join_date %>"></input>
            <div class="editor-input-label font-grey">&nbsp;이메일&nbsp;&nbsp;|</div>
            <input type="text" class="take-text-shortinput font-darkgrey font-level-default border-solid-thin-lightgrey" name="email" value="<%= userInfo.email %>"></input>
            <div class="checkbox-long take-checkbox">
              <%
              if(userInfo.email_agree){
              %>
              <input checked="checked" type="checkbox" id="email-agree" class="take-checkbox" name="email_agree" value="1"></input>
              <label class="font-grey" for="email-agree">
                <div class="box checked"></div>
              <%
              }
              else{
              %>
              <input type="checkbox" id="email-agree" class="take-checkbox" name="email_agree" value="1"></input>
              <label class="font-grey" for="email-agree">
                <div class="box"></div>
              <%
              }
              %>
                <span class="font-level-small">&nbsp;&nbsp;<%= service %>의 홍보/알림 메일 수신에 동의합니다. (선택)</span>
                <div class="float-clear"></div>
              </label>
            </div>
            <div class="float-clear"></div>
          </div>
          <div id="userinfo-error">
          </div>
          <div class="editor-button-box">
            <button type="button" class="editor-submit-button take-button-mint">
              <img src="/images/studio/check.png"></img><span>&nbsp;수정하기</span>
            </button>
          </div>
        </form>
      </div>

    </div>

    <% include ../footer %>

    <% include ../login/login-popup %>

  </body>

</html>
