<!DOCTYPE html>
<html>

  <head>
    <title><%=title%></title>
    <link rel="stylesheet" href="/stylesheets/take-main-style.css"/>
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="//developers.kakao.com/sdk/js/kakao.min.js"></script>
    <script type="text/javascript" src="/javascripts/take-util.js"></script>
    <script type="text/javascript" src="/javascripts/take-login.js"></script>
    <script>
      (function(){
        $(document).ready(function(){
          InputController.setInputFocus($(".take-text-input").add($(".take-text-shortinput")).add($(".take-textarea")));
          CheckboxController.setCheckbox($(".take-checkbox input[type='checkbox']"));
          ButtonController.setButton($(".editor-submit-button"));
        });
      }());
    </script>
  </head>

  <body>

    <div id="header" class="width-full font-white">

      <div id="header-title" class="float-left"><a href="/"><%= service %></a></div>
      <div id="header-login" class="float-right">
        <a href="/makestudio">
          <span>스튜디오 만들기</span>
        </a>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <span id="user-button" class="cursor-pointer">
          <img class="vertical-middle-aligned" src="/images/common/username.png"></img>&nbsp;&nbsp;<%= name %>
        </span>
      </div>
      <div class="float-clear"></div>
      
      <div class="user-menu-box font-darkgrey">
        <div class="user-menu-arrow"></div>
        <div class="user-menu">
          <div class="user-menu-item">&nbsp;&nbsp;마이페이지</div><hr>
          <div id="logout-button" class="user-menu-item">&nbsp;&nbsp;로그아웃</div>
          <a href="/withdraw"><div class="user-menu-item">&nbsp;&nbsp;<%= service %> 탈퇴</div></a>
        </div>
      </div>

    </div>


    <div class="take-main-window bg-color-lightergrey">

      <div class="take-basic-window">
        <h1>스튜디오 만들기</h1>
        <span class="font-grey">작가님의 멋진 스튜디오를 개설하세요.</span>
        <form action="/addstudio" method="POST">
          <div class="take-input-box">
            <div class="editor-input-label font-grey">&nbsp;스튜디오 이름&nbsp;&nbsp;|</div>
            <input type="text" class="take-text-input font-darkgrey font-level-default border-solid-thin-lightgrey" name="studio_name"></input>
            <div class="editor-input-label font-grey">&nbsp;서비스&nbsp;&nbsp;|</div>
            <div class="take-checkbox">
              <input type="checkbox" id="category-1" class="take-checkbox" name="category" value="1"></input>
              <label class="font-grey" for="category-1">
                <div class="box"></div>
                <span>&nbsp;&nbsp;웨딩</span>
                <div class="float-clear"></div>
              </label>
            </div>
            <div class="take-checkbox">
              <input type="checkbox" id="category-2" class="take-checkbox" name="category" value="2"></input>
              <label class="font-grey" for="category-2">
                <div class="box"></div>
                <span>&nbsp;&nbsp;돌/백일</span>
                <div class="float-clear"></div>
              </label>
            </div>
            <div class="take-checkbox">
              <input type="checkbox" id="category-3" class="take-checkbox" name="category" value="3"></input>
              <label class="font-grey" for="category-3">
                <div class="box"></div>
                <span>&nbsp;&nbsp;데이트</span>
                <div class="float-clear"></div>
              </label>
            </div>
            <div class="float-clear"></div>
            <div class="editor-input-label font-grey">&nbsp;연락처&nbsp;&nbsp;|</div>
            <input type="text" class="take-text-shortinput font-darkgrey font-level-default border-solid-thin-lightgrey" name="tel_num"></input>
            <div class="editor-input-label font-grey">&nbsp;주소&nbsp;&nbsp;|</div>
            <input type="text" class="take-text-input font-darkgrey font-level-default border-solid-thin-lightgrey" name="address"></input>
            <div class="editor-input-label font-grey">&nbsp;스튜디오 소개글&nbsp;&nbsp;|</div>
            <textarea class="take-textarea font-darkgrey font-level-default border-solid-thin-lightgrey" name="introduction"></textarea>
          </div>
          <div class="editor-button-box">
            <button type="submit" class="editor-submit-button take-button-mint">
              <img src="/images/studio/check.png"></img><span>&nbsp;개설하기</span>
            </button>
          </div>
        </form>
      </div>

    </div>

    <div id="footer" class="bg-color-darkgrey center-aligned">

      <div id="footer-main">
      </div>

      <div id="footer-menu" class="font-grey font-level-small">
        이용약관&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        개인정보취급방침&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        서비스운영정책&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        고객센터
      </div>

      <hr class="bg-color-grey">

      <div class="font-grey">
        &copy; <a href="/" class="font-grey"><%= service %></a>, Inc.
      </div>

    </div>

  </body>

</html>
