<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/take-main-style.css"/>
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="http://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
    <script src="//developers.kakao.com/sdk/js/kakao.min.js"></script>
    <script type="text/javascript" src="/javascripts/take-util.js"></script>
    <script type="text/javascript" src="/javascripts/take-login.js"></script>
    <script type="text/javascript">
      (function(){
        var $timeItems;

        (function(){
          $(document).ready(function(){
            loadElements();
            bindEvents();

            $(".take-datepicker").datepicker({
              inline: true,
              showOtherMonths: false,
              showMonthAfterYear: true,
              monthNames: ["1월", "2월", "3월", "4월", "5월", "6월", "7월", "8월", "9월", "10월", "11월", "12월"],
              dayNamesMin: ["일", "월", "화", "수", "목", "금", "토"],
              nextText: ">",
              prevText: "<",
              yearSuffix: "년",
              dateFormat: "yymmdd",
              onSelect: function(date){
                $("#time").removeClass("border-solid-thin-mint bg-color-lightmint")
                .addClass("border-solid-thin-lightgrey")
                .empty();

                var year = date.slice(0, 4);
                var month = date.slice(4, 6);
                if(month[0] == "0"){
                  month = month.slice(1, 2);
                }
                var dateNum = date.slice(6, 8);
                if(dateNum[0] == "0"){
                  dateNum = dateNum.slice(1, 2);
                }

                if(Number(date) < Number($("input[name='rsv_date']").val())){
                  alert("지난 날짜는 선택하실 수 없습니다.");
                  $(".take-datepicker").datepicker("setDate", new Date());

                  return;
                }

                $("#date").text(year + "년 " + month + "월 " + dateNum + "일");
                $("input[name='rsv_date']").val(date);

                loadSchedule(<%= productData.product_id %>, date);
              }
            });

            setSchedule(<%- JSON.stringify(reservationsData) %>);
          });
        }());

        function loadElements(){
          $timeItems = $(".time-item");
        };

        function bindEvents(){
          ButtonController.setButton($(".editor-submit-button"), requestRsv);

          $timeItems.click(function(){
            $timeItems.each(function(){
              $(this).removeClass("selected");
            });

            $(this).addClass("selected");
            $("#time").removeClass("border-solid-thin-lightgrey")
            .addClass("border-solid-thin-mint bg-color-lightmint")
            .text($(this).text());

            $("input[name='rsv_start_time']").val($(this).children("span").attr("for"));
          });
        };

        function loadSchedule(id, date){
          $.get("/rsvdata/?product_id=" + id + "&date=" + date, function(data){
            if(data.result == "success"){
              $timeItems.show();
              setSchedule(data.data);
            }
          });
        };

        function setSchedule(data){
          for(var rsvIndex = 0; rsvIndex < data.length; rsvIndex++){
            $timeItems.each(function(){
              var time = Number($(this).children("span").attr("for"));

              if(time > data[rsvIndex].rsv_start_time - 100 * <%= productData.product_duration %> && time < data[rsvIndex].rsv_end_time){
                $(this).removeClass("time-item")
                .addClass("time-item-reserved font-bold").
                unbind();
              }
            });
          }
        };

        function requestRsv(){
          if($("input[name='rsv_start_time']").val() === ""){
            alert("시간을 선택해주세요.");

            return;
          }
          $.ajax({
            type: "POST",
            url: "/reserve?product_id=" + <%= productData.product_id %>,
            data: $("#rsv-form").serialize(),
            success: function(data){
              if(data.result == "success"){
                alert("예약 요청이 완료되었습니다.");
                location.href = "/studio/<%= productData.username %>"
              }
              else if(data.result == "fail"){
                alert(data.text);
                if(data.code == "401"){
                  location.href = "/login?redirect=" + location.href;
                }
              }
            },
            error: function(xhr, option, error){
              alert(error);
            }
          });
        };

      }());
    </script>
  </head>

  <body>

    <% include ../header %>

    <div class="take-main-window bg-color-lightergrey">
      <div class="take-basic-window">
        <h1>예약하기</h1>
        <span class="font-grey">예약하실 날짜와 시간을 선택해 주세요.</span>

        <div class="take-likes-box">
          <div class="box">
            <div class="rsv-product float-left">
              <div class="product-box">
                <span class="font-darkgrey font-level-large">
                  <%= productData.product_name %>
                </span>
                <br>
                <a href="/studio/<%= productData.username %>">
                  <span class="font-grey font-level-default">
                    <%= productData.studio_name %>
                  </span>
                </a>
                <hr class="bg-color-lightgrey">
                <% var today = new Date() %>
                <% var month = today.getMonth() + 1 < 10 ? "0" + (today.getMonth() + 1) : today.getMonth() + 1 %>
                <% var dateNum = today.getDate() < 10 ? "0" + today.getDate() : today.getDate() %>
                <form id="rsv-form">
                  <input type="hidden" name="rsv_date" value="<%= '' + today.getFullYear() + month + dateNum %>"></input>
                  <input type="hidden" name="rsv_start_time"></input>
                  <input type="hidden" name="product_duration" value="<%= productData.product_duration %>"></input>
                </form>
                <div class="editor-input-label font-grey">&nbsp;날짜&nbsp;&nbsp;|</div>
                <div id="date" class="input-box font-darkgrey bg-color-lightmint border-solid-thin-mint center-aligned">
                <%= today.getFullYear() %>년 <%= today.getMonth() + 1 %>월 <%= today.getDate() %>일
                </div>
                <div class="editor-input-label font-grey">&nbsp;시간&nbsp;&nbsp;|</div>
                <div id="time" class="input-box font-darkgrey border-solid-thin-lightgrey center-aligned"></div>
                <div class="editor-button-box right-aligned">
                  <button type="button" class="editor-submit-button take-button-mint">
                    <img src="/images/studio/check.png"></img><span>&nbsp;예약요청</span>
                  </button>
                </div>
              </div>
            </div>
            <div class="rsv-date float-left">
              <div class="take-datepicker"></div>
            </div>
            <div class="rsv-time float-left">
              <div class="time-box">
                <% for(var i = 14; i < 39; i++){ %>
                  <div class="time-item">
                    <% if(i < 24){ %>
                        <% if(i % 2 == 0){ %>
                          <span for="<%= i/2 + 1 %>00">&nbsp;오전&nbsp;&nbsp;<%= i/2 + 1 %>:00&nbsp;</span>
                        <% }else{ %>
                          <span for="<%= Math.round(i/2) %>30">&nbsp;오전&nbsp;&nbsp;<%= Math.round(i/2) %>:30&nbsp;</span>
                        <% } %>
                    <% }else{ %>
                      <% if(i % 2 == 0){ %>
                        <span for="<%= i/2 + 1 %>00">&nbsp;오후&nbsp;&nbsp;<%= (i - 24)/2 + 1 %>:00&nbsp;</span>
                      <% }else{ %>
                        <span for="<%= Math.round(i/2) %>30">&nbsp;오후&nbsp;&nbsp;<%= Math.round((i - 24)/2) %>:30&nbsp;</span>
                      <% } %>
                    <% } %>
                  </div>
                <% } %>
              </div>
            </div>
            <div class="float-clear"></div>
          </div>
        </div>

      </div>

    </div>

    <% include ../footer %>

    <% include ../login/login-popup %>

  </body>

</html>
