<!DOCTYPE html>
<html>
  <head>
    <title><%=title%></title>
    <link rel="stylesheet" href="/stylesheets/take-main-style.css"/>
    <link rel="stylesheet" href="/stylesheets/unslider.css"/>
    <link rel="stylesheet" href="/stylesheets/unslider-dots.css"/>
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="http://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
    <script src="//developers.kakao.com/sdk/js/kakao.min.js"></script>
    <script type="text/javascript" src="/javascripts/unslider-min.js"></script>
    <script type="text/javascript" src="/javascripts/take-util.js"></script>
    <script type="text/javascript" src="/javascripts/take-login.js"></script>
    <script type="text/javascript" src="/javascripts/take-studio.js"></script>
    <script type="text/javascript">
      (function(){
        $(document).ready(function(){
          HeaderController.setBgColor("rgba(0, 0, 0, 0.4)");
        });
      }());
    </script>
  </head>

  <body>

    <div id="header" class="width-full font-white">

      <div id="header-title" class="float-left"><a href="/"><%= service %></a></div>
      <div id="header-login" class="float-right">
        <%
        if(!hasStudio){
        %>
        <a href="/makestudio">
          <span>스튜디오 만들기</span>
        </a>
        <%
        }
        else{
        %>
        <a href="/studio/<%= username %>">
          <span>스튜디오 바로가기</span>
        </a>
        <%
        }
        if(!isAuth){
        %>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <span id="login-button" class="cursor-pointer">
          <img class="vertical-middle-aligned" src="/images/common/login.png"></img>&nbsp;&nbsp;로그인
        </span>
        <%
        }else{
        %>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <span id="user-button" class="cursor-pointer">
          <img class="vertical-middle-aligned" src="/images/common/username.png"></img>&nbsp;&nbsp;<%= nickname %>
        </span>
        <%
        }
        %>
      </div>
      <div class="float-clear"></div>

      <%
      if(isAuth){
      %>
      <div class="user-menu-box font-darkgrey">
        <div class="user-menu-arrow"></div>
        <div class="user-menu">
          <a href="/user/userinfo"><div class="user-menu-item">&nbsp;&nbsp;마이페이지</div></a>
          <hr>
          <div id="logout-button" class="user-menu-item">&nbsp;&nbsp;로그아웃</div>
        </div>
      </div>
      <%
      }
      %>

    </div>

    <div class="take-main-window">

      <div id="studio-photo-slider-window" class="bg-color-grey">
        <%
        if(studioData.num_photo_on_slider > 0){
        %>
        <script type="text/javascript">
          StudioPhotoSliderController.enableSlider(<%- studioData.slider_photo_list %>);
        </script>
        <ul>

          <%
          for(var i = 0; i < studioData.num_photo_on_slider; i++){
          %>
          <li><div class="photo-box"></div></li>
          <%
          }
          %>
        </ul>
        <%
        }
        else{
          if(isOwner){
          %>
          <div class="center-aligned font-white font-level-larger">스튜디오의 대표 사진을 등록하세요.</div>
          <%
          }
          else{
          %>
          <div class="center-aligned font-white font-level-larger"></div>
          <%
          }
        }
        if(isOwner){
        %>
        <div class="slider-edit-button bg-color-mint font-white">+</div>

        <div class="slider-editor-box bg-color-lightergrey font-darkgrey">
          <div class="editor-title-box font-level-large">스튜디오의 대표 사진을 등록하세요.</div>
          <form action="/studio/<%= studioData.username %>/slider/update" method="POST" enctype="multipart/form-data">
            <div class="editor-main-box">
              <input type="hidden" id="flag" name="flag"></input>
              <%
              for(var i = 0; i < 5; i++){
                if(studioData.num_photo_on_slider >= i+1){
                %>
                <label for="file-input-<%= i + 1 %>" class="editor-photo-box font-grey"></label>
                <%
                }else{
                %>
                <label for="file-input-<%= i + 1 %>" class="editor-photo-box no-photo font-grey">+</label>
                <%
                }
                %>
                <input type="file" id="file-input-<%= i + 1 %>" class="editor-photo-input" name="<%= i + 1 %>"></input>
              <%
              }
              %>
            </div>
            <div class="editor-button-box">
              <button type="submit" class="editor-submit-button take-button-mint">
                <img src="/images/studio/check.png"></img><span>&nbsp;저장하기</span>
              </button>
              <button type="button" class="editor-cancel-button take-button-mintborder">
                <img src="/images/studio/cancel.png"></img><span>&nbsp;취소하기</span>
              </button>
            </div>
          </form>
        </div>
        <%
        }
        %>

      </div>

      <div id="studio-introduction-window" class="take-basic-window font-grey">

        <%
        if(isOwner){
        %>
          <button class="intro-edit-button take-button-mint">
            <img src="/images/studio/pencil.png"></img><span>&nbsp;수정하기</span>
          </button>

          <div class="intro-editor-box bg-color-white font-darkgrey">
            <div class="editor-title-box font-level-large">스튜디오를 소개하세요.</div>
            <form id="intro-form">
              <div class="editor-main-box">
                <div class="editor-input-label font-grey">&nbsp;스튜디오 이름&nbsp;&nbsp;|</div>
                <input type="text" class="take-text-input font-darkgrey font-level-default border-solid-thin-lightgrey" name="studio_name"></input>
                <div class="editor-input-label font-grey">&nbsp;연락처&nbsp;&nbsp;|</div>
                <input type="text" class="take-text-shortinput font-darkgrey font-level-default border-solid-thin-lightgrey" name="tel_num"></input>
                <div class="editor-input-label font-grey">&nbsp;주소&nbsp;&nbsp;|</div>
                <input type="text" class="take-text-input font-darkgrey font-level-default border-solid-thin-lightgrey" name="address"></input>
                <div class="editor-input-label font-grey">&nbsp;스튜디오 소개글&nbsp;&nbsp;|</div>
                <textarea class="take-textarea font-darkgrey font-level-default border-solid-thin-lightgrey" name="introduction"></textarea>
              </div>
            </form>
            <div class="editor-button-box">
              <button type="submit" class="editor-submit-button take-button-mint">
                <img src="/images/studio/check.png"></img><span>&nbsp;저장하기</span>
              </button>
              <button type="button" class="editor-cancel-button take-button-mintborder">
                <img src="/images/studio/cancel.png"></img><span>&nbsp;취소하기</span>
              </button>
            </div>
          </div>
        <%
        }
        %>

        <h1><%= studioData.studio_name %></h1>
        <span>by&nbsp;&nbsp;<%= photographerName %></span>
        <div id="stars" class="font-darkgrey font-bold">
          <%
          for(var i = 0; i < studioData.stars; i++){
          %>
          <img class="star" src="/images/studio/star.png"></img>
          <%
          }if(studioData.half_star){
          %>
          <img class="star" src="/images/studio/halfstar.png"></img>
          <%
          }
          %>
        </div>
        <hr class="bg-color-lightgrey">
        <p class="take-basic-paragraph"><%- studioData.introduction %></p>
        <div class="left-aligned-box border-solid-thin-grey">
          <div class="label-bold">연락처</div>&nbsp;&nbsp;&nbsp;<span id="tel-num"><%= studioData.tel_num %></span>
          <div class="float-clear"></div>
          <div class="label-bold">주소</div>&nbsp;&nbsp;&nbsp;<span id="address"><%= studioData.address %></span>
          <div class="float-clear"></div>
        </div>
      </div>

      <div id="studio-product-window" class="take-basic-window font-grey bg-color-lightergrey">
        <h1>Product</h1>

        <%
        if(studioData.num_products != 0){
          for(var i = 0; i < productsData.length; i++){
        %>
        <script type="text/javascript">
          StudioProductController.setProduct("product-<%= i + 1 %>", <%= productsData[i].studio_id %>);
        </script>
        <div id="product-<%= i + 1 %>" class="product-box bg-color-white">
          <div class="product-title-box">
            <h1><%= productsData[i].product_name %></h1>
            <span class="product-price font-level-large">\<%= productsData[i].product_price.toString().split(/(?=(?:\d{3})+(?:\.|$))/g).join(',') %></span>
          </div>
          <div class="product-button-box">
            <%
            if(isOwner){
            %>
            <button class="product-edit-button take-button-mint">
              <img src="/images/studio/pencil.png"></img><span>&nbsp;&nbsp;수정하기</span>
            </button>

            <div class="product-editor-box font-darkgrey">
              <div class="editor-title-box font-level-large">스튜디오 상품을 소개하세요.</div>
              <form class="product-form">
                <div class="editor-main-box">
                  <input type="hidden" value="<%= productsData[i].product_id %>" name="product_id"></input>
                  <div class="editor-input-label font-grey">&nbsp;상품 이름&nbsp;&nbsp;|</div>
                  <input type="text" class="take-text-input font-darkgrey font-level-default border-solid-thin-lightgrey" name="product_name"></input>
                  <div class="editor-input-label font-grey">&nbsp;상품 가격&nbsp;&nbsp;|</div>
                  <input type="text" class="take-text-input font-darkgrey font-level-default border-solid-thin-lightgrey" name="product_price"></input>
                  <div class="editor-input-label font-grey">&nbsp;상품 소개&nbsp;&nbsp;|</div>
                  <textarea class="take-textarea font-darkgrey font-level-default border-solid-thin-lightgrey" name="product_desc"></textarea>
                </div>
              </form>
              <div class="editor-button-box">
                <button type="submit" class="editor-submit-button take-button-mint">
                  <img src="/images/studio/check.png"></img><span>&nbsp;저장하기</span>
                </button>
                <button type="submit" class="editor-delete-button take-button-mint">
                  <img src="/images/studio/delete.png"></img><span>&nbsp;삭제하기</span>
                </button>
                <button type="button" class="editor-cancel-button take-button-mintborder">
                  <img src="/images/studio/cancel.png"></img><span>&nbsp;취소하기</span>
                </button>
              </div>
            </div>
            <%
            }
            %>
            <button class="product-reserve-button take-button-mint">
              <img src="/images/studio/reserve.png"></img><span>&nbsp;&nbsp;예약하기</span>
            </button>
          </div>
          <div class="float-clear">
          </div>
          <div class="product-desc-box">
            <ul>
              <%- productsData[i].product_desc%>
            </ul>
          </div>
        </div>
        <%
          }
        }
        if(isOwner){
        %>
        <script type="text/javascript">
          StudioProductController.setProduct("product-add", <%= studioData.studio_id %>);
        </script>
        <div id="product-add" class="product-box">
          <div class="product-add-button bg-color-mint font-white">+</div>

          <div class="product-editor-box font-darkgrey">
            <div class="editor-title-box font-level-large">스튜디오 상품을 추가하세요.</div>
            <form class="product-form">
              <div class="editor-main-box">
                <input type="hidden" value="<%= studioData.studio_id %>" name="studio_id"></input>
                <input type="hidden" value="<%= studioData.num_products + 1 %>" name="num_products"></input>
                <div class="editor-input-label font-grey">&nbsp;상품 이름&nbsp;&nbsp;|</div>
                <input type="text" class="take-text-input font-darkgrey font-level-default border-solid-thin-lightgrey" name="product_name"></input>
                <div class="editor-input-label font-grey">&nbsp;상품 가격&nbsp;&nbsp;|</div>
                <input type="text" class="take-text-input font-darkgrey font-level-default border-solid-thin-lightgrey" name="product_price"></input>
                <div class="editor-input-label font-grey">&nbsp;상품 소개&nbsp;&nbsp;|</div>
                <textarea class="take-textarea font-darkgrey font-level-default border-solid-thin-lightgrey" name="product_desc"></textarea>
              </div>
            </form>
            <div class="editor-button-box">
              <button type="submit" class="editor-submit-button take-button-mint">
                <img src="/images/studio/check.png"></img><span>&nbsp;저장하기</span>
              </button>
              <button type="button" class="editor-cancel-button take-button-mintborder">
                <img src="/images/studio/cancel.png"></img><span>&nbsp;취소하기</span>
              </button>
            </div>
          </div>
        </div>
        <%
        }
        %>

      </div>

      <div id="studio-portfolio-window" class="take-basic-window font-grey">
        <h1>Portfolio</h1>

        <div class="portfolio-box">
          <%
          if(studioData.num_portfolios != 0){
          %>
          <script type="text/javascript">
            StudioPortfolioController.initPortfolio(<%- JSON.stringify(portfoliosData) %>);
          </script>
            <%
            for(var i = 0; i < portfoliosData.length; i++){
            %>
            <div class="portfolio-item bg-color-lightergrey" for="<%= i %>">
              <div class="take-item-img"></div>
              <div class="portfolio-subject font-darkgrey font-level-large">
                <span class="font-darkgrey"><%= portfoliosData[i].portfolio_subject %><span>
              </div>
              <%
              if(isOwner){
              %>
              <button class="portfolio-edit-button take-button-mint" for="<%= i %>">
                <img src="/images/studio/pencil.png"></img><span>&nbsp;&nbsp;수정하기</span>
              </button>
              <%
              }
              %>
            </div>
              <%
              if(i % 3 == 2){
              %>
              <div class="float-clear"></div>
              <%
              }
            }
            if(isOwner){
            %>
            <div class="portfolio-add-button">+</div>
            <div class="float-clear"></div>
            <%
            }
            else{
              if((i - 1) % 3 != 2){
              %>
              <div class="float-clear"></div>
              <%
              }
            }
          }
          else{
            if(isOwner){
            %>
            <div class="portfolio-add-button">+</div>
            <div class="float-clear"></div>
            <%
            }
          }
          %>

        </div>

        <div id="portfolio-viewer">
          <div class="orig-image-box"><img class="orig-image"></img></div>
          <div class="left-arrow font-lightergrey font-level-largest">&lt;</div>
          <div class="right-arrow font-lightergrey font-level-largest">&gt;</div>
          <div class="thumb-box">
            <div class= "inner-box"></div>
          </div>
          <div class="counter font-lightergrey"></div>
          <button class="close-button"><img src="/images/studio/close.png"></img></button>
        </div>

        <div class="portfolio-editor-box bg-color-white font-darkgrey">
          <div class="editor-title-box font-level-large"></div>
          <form action="/studio/<%= studioData.username %>/portfolio/update" method="POST" enctype="multipart/form-data">
            <input type="hidden" name="portfolio_id"></input>
            <input type="hidden" name="studio_id" value=<%= studioData.studio_id %>></input>
            <input type="hidden" name="photo_list"></input>
            <input type="hidden" name="num_portfolios"></input>
            <input type="hidden" name="del_photo_list"></input>
            <div class="editor-subject-box">
              <div class="editor-input-label font-grey">&nbsp;포트폴리오 제목&nbsp;&nbsp;|</div>
              <input type="text" class="take-text-input font-darkgrey font-level-default border-solid-thin-lightgrey" name="portfolio_subject"></input>
            </div>
            <div class="editor-main-box">
            </div>
            <div class="editor-button-box">
              <button type="submit" class="editor-submit-button take-button-mint">
                <img src="/images/studio/check.png"></img><span>&nbsp;저장하기</span>
              </button>
              <button type="button" class="editor-delete-button take-button-mint">
                <img src="/images/studio/delete.png"></img><span>&nbsp;삭제하기</span>
              </button>
              <button type="button" class="editor-cancel-button take-button-mintborder">
                <img src="/images/studio/cancel.png"></img><span>&nbsp;취소하기</span>
              </button>
            </div>
          </form>
        </div>

      </div>

    </div>

    <div id="footer" class="bg-color-darkgrey center-aligned">

      <div id="footer-main">
      </div>

      <div id="footer-menu" class="font-grey font-level-small">
        이용약관&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        개인정보취급방침&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        서비스운영정책&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        고객센터
      </div>

      <hr class="bg-color-grey">

      <div class="font-grey">
        &copy; <a href="/" class="font-grey"><%= service %></a>, Inc.
      </div>

    </div>

  </body>

</html>
