<!DOCTYPE html>
<html>

  <head>
    <title><%=title%></title>
    <link rel="stylesheet" href="/stylesheets/take-main-style.css"/>
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="//developers.kakao.com/sdk/js/kakao.min.js"></script>
    <script type="text/javascript" src="/javascripts/take-util.js"></script>
    <script type="text/javascript" src="/javascripts/take-login.js"></script>
    <script>
      (function(){
        $(document).ready(function(){
          var $inputs = $(".take-shortinput-box .take-text-shortinput");

          InputController.setInputFocus($(".take-text-shortinput"));
          $(".take-text-shortinput").keydown(function(keyEvent){
            InputController.onKeydown(keyEvent, $(this), $(".editor-submit-button"));
          });

          ButtonController.setButton($(".editor-submit-button"));
          CheckboxController.setCheckbox($("input[type='checkbox']"));

          $(".editor-submit-button").click(function(){
            var isFieldChecked = 1;

            $inputs.each(function(){
              if($(this).val() == ""){
                $(this).addClass("bg-color-pink");
                isFieldChecked = 0;
              }
            });

            if(isFieldChecked == 1){
              $.ajax({
                type: "POST",
                url: "/join",
                data: $("#join-form").serialize(),
                success: function(data){
                  if(data.result == "success"){
                    location.href = "/join/welcome";
                  }
                  else if(data.result == "fail"){
                    $("#join-error").text(data.text).addClass("margin-top-30 margin-bottom-30 font-red font-bold");
                  }
                },
                error: function(xhr, option, error){
                  alert(error);
                }
              });
            }
          });
        });
      }());
    </script>
  </head>

  <body>

    <div id="header" class="width-full font-white">

      <div id="header-title" class="float-left"><a href="/"><%= service %></a></div>
      <div id="header-login" class="float-right">
        <%
        if(!hasStudio){
        %>
        <a href="/makestudio">
          <span>스튜디오 만들기</span>
        </a>
        <%
        }
        else{
        %>
        <a href="/studio/<%= username %>">
          <span>스튜디오 바로가기</span>
        </a>
        <%
        }
        if(!isAuth){
        %>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <span id="login-button" class="cursor-pointer">
          <img class="vertical-middle-aligned" src="/images/common/login.png"></img>&nbsp;&nbsp;로그인
        </span>
        <%
        }else{
        %>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <span id="user-button" class="cursor-pointer">
          <img class="vertical-middle-aligned" src="/images/common/username.png"></img>&nbsp;&nbsp;<%= name %>
        </span>
        <%
        }
        %>
      </div>
      <div class="float-clear"></div>

      <%
      if(isAuth){
      %>
      <div class="user-menu-box font-darkgrey">
        <div class="user-menu-arrow"></div>
        <div class="user-menu">
          <a href="/user/userinfo"><div class="user-menu-item">&nbsp;&nbsp;마이페이지</div></a>
          <hr>
          <div id="logout-button" class="user-menu-item">&nbsp;&nbsp;로그아웃</div>
        </div>
      </div>
      <%
      }
      %>

    </div>

    <div class="take-main-window bg-color-lightergrey">

      <div class="take-basic-window">
        <h1>TAKE 가입하기</h1>
        <span class="font-grey">회원님의 소중한 정보를 입력해 주세요.</span>
        <form id="join-form">
          <div class="take-shortinput-box">
            <div class="editor-input-label font-grey">&nbsp;아이디&nbsp;&nbsp;|</div>
            <input type="text" class="take-text-shortinput font-darkgrey font-level-default border-solid-thin-lightgrey" name="username"></input>
            <div class="editor-input-label font-grey">&nbsp;비밀번호&nbsp;&nbsp;|</div>
            <input type="password" class="take-text-shortinput font-darkgrey font-level-default border-solid-thin-lightgrey" name="password"></input>
            <div class="editor-input-label font-grey">&nbsp;닉네임&nbsp;&nbsp;|</div>
            <input type="text" class="take-text-shortinput font-darkgrey font-level-default border-solid-thin-lightgrey" name="nickname"></input>
            <div class="editor-input-label font-grey">&nbsp;이메일&nbsp;&nbsp;|</div>
            <input type="text" class="take-text-shortinput font-darkgrey font-level-default border-solid-thin-lightgrey" name="email"></input>
            <div class="checkbox-long take-checkbox">
              <input type="checkbox" id="email-agree" class="take-checkbox" name="email_agree" value="1"></input>
              <label class="font-grey" for="email-agree">
                <div class="box"></div>
                <span class="font-level-small">&nbsp;&nbsp;<%= service %>의 홍보/알림 메일 수신에 동의합니다.</span>
                <div class="float-clear"></div>
              </label>
            </div>
            <div class="float-clear"></div>
          </div>
          <div id="join-error">
          </div>
          <div class="editor-button-box">
            <button type="button" class="editor-submit-button take-button-mint">
              <img src="/images/studio/check.png"></img><span>&nbsp;가입하기</span>
            </button>
          </div>
        </form>
      </div>

    </div>

    <div id="footer" class="bg-color-darkgrey center-aligned">

      <div id="footer-main">
      </div>

      <div id="footer-menu" class="font-grey font-level-small">
        이용약관&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        개인정보취급방침&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        서비스운영정책&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        고객센터
      </div>

      <hr class="bg-color-grey">

      <div class="font-grey">
        &copy; <a href="/" class="font-grey"><%= service %></a>, Inc.
      </div>

    </div>

  </body>

</html>
